modules = ["nodejs-18"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32815
externalPort = 8099

[[ports]]
localPort = 36831
externalPort = 5173

[[ports]]
localPort = 36981
externalPort = 8008

[[ports]]
localPort = 38537
externalPort = 6800

[[ports]]
localPort = 39545
externalPort = 3003

[[ports]]
localPort = 40827
externalPort = 4200

[[ports]]
localPort = 40985
externalPort = 6000

[[ports]]
localPort = 41679
externalPort = 8081

[[ports]]
localPort = 43455
externalPort = 8080

[[ports]]
localPort = 43859
externalPort = 3002

[[ports]]
localPort = 45017
externalPort = 3000

[[ports]]
localPort = 46067
externalPort = 8000

[[ports]]
localPort = 46295
externalPort = 3001

[[ports]]
localPort = 46431
externalPort = 5000
